<!-- header.ejs -->

<header>
    <div class="logo">DinoBlog</div>
    <nav>
        <ul>
            <li><a href="/" class="link_nav">Home</a></li>
            <li><a href="/sobre" class="link_nav">Sobre</a></li>
            <li><a href="/contato" class="link_nav">Contato</a></li>
            <li><a href="/postagens" class="link_nav">Postagens</a></li>
            <li><a href="/login" class="link_nav">Login</a></li>
        </ul>
    </nav>
</header>