<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_sobre.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Sobre</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <div class="main-content">
        <h1>Sobre</h1>
        <p>Bem-vindos à seção dedicada aos incríveis dinossauros! Neste espaço, embarcaremos em uma emocionante jornada através dos tempos pré-históricos, explorando os mistérios e maravilhas dessas criaturas que dominaram a Terra há milhões de anos.</p>
        <p>Os dinossauros fascinam e intrigam cientistas e entusiastas há décadas, e é fácil perceber por quê. Com sua diversidade impressionante de formas, tamanhos e comportamentos, esses animais pré-históricos são verdadeiros protagonistas de um mundo perdido, cujo legado ecoa até os dias de hoje.</p>
        <p>Nossa missão aqui é desvendar os segredos dos dinossauros, desde suas origens até seu misterioso desaparecimento. Vamos explorar as diferentes espécies, desde os gigantes saurópodes que vagavam pelos vastos continentes até os ágeis predadores como o temido Tiranossauro rex.</p>
        <p>Além disso, vamos mergulhar nos recentes avanços científicos que têm revolucionado nossa compreensão sobre essas criaturas antigas. A paleontologia, com suas ferramentas e técnicas inovadoras, continua a revelar novas informações sobre a biologia, ecologia e comportamento dos dinossauros, lançando luz sobre seu incrível mundo pré-histórico.</p>
        <p>Prepare-se para se maravilhar com fósseis impressionantes, reconstruções detalhadas e teorias intrigantes sobre a vida dos dinossauros. Vamos explorar os diferentes períodos geológicos, desde o Triássico até o fim do Cretáceo, e descobrir como esses seres extraordinários se adaptaram e evoluíram ao longo de milhões de anos.</p>
        <p>Aqui, todos são bem-vindos para embarcar nessa viagem no tempo, onde a curiosidade e o conhecimento se unem para desvendar os enigmas dos dinossauros. Então, prepare-se para uma aventura emocionante, onde o passado ganha vida e nos convida a refletir sobre o nosso lugar no vasto e fascinante universo da história da Terra.</p>
    </div>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>